<section class="review">
    <button class="deleteBtn" id="deleteReviewBtn" data-post-id="{{id}}">X</button>
    <a href="/restaurant/{{id}}">
        <header>{{restaurant_name}}</header>
    </a>
    <a href="/user/{{id}}">
        <header>{{user.username}}</header>
    </a>
    <p class="rating">{{rating}}</p>
    <p class="post-date">{{format_date createdAt}}</p>
    <img class="reviewed-burger">{{burger.image}}</img>
    <p>{{review_content}}</p>
</section>