<section class="review">
  <div class="card mb-3">
    <div class="row no-gutters">
      {{#if image}}
      <img class="reviewed-burger" src="/uploads/{{image}}" alt="Burger Image">
      {{/if}}
      <div class="col-md-8">
        <div class="card-body">
          <a href="/restaurant/{{id}}">
            <p class="card-title">{{restaurant_name}}</p>
          </a>
          <p class="average-rating">Average Rating: {{convertToStars rating}}</p>
          <p class="average-cost">Average Price: ${{avgCost}}</p>
          {{#each reviews}}
          <p>{{user.username}}</p>
          <p>{{review_content}}</p>
          {{/each}}
          <h3>Burgers</h3>
          {{#each burgers}}
          <p>{{burger_name}}</p>
          <p>${{total_cost}}</p>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

</section>