<section class="review">
    <a href="/user/{{user.id}}">
        <h1>{{user.username}}</h1>
    </a>
    <p class="rating">{{convertToStars rating}}</p>
    <p class="post-date">{{format_date createdAt}}</p>
    <img class="reviewed-burger" src="/uploads/{{image}}" alt="Burger Image">
    <p>{{review_content}}</p>
</section>