<section class="review">
    <a href="/user/{{id}}">
        <header>{{user.username}}</header>
    </a>
    <p class="rating">{{rating}}</p>
    <p class="post-date">{{format_date createdAt}}</p>
    <img class="reviewed-burger">{{burger.image}}</img>
    <p>{{review_content}}</p>
</section>