<section class="review">
  <a href="/restaurant/{{id}}">
    <h1>{{restaurant_name}}</h1>
  </a>
  <p class="rating">{{convertToStars rating}}</p>
  <p class="post-date">{{format_date createdAt}}</p>
  {{#if image}}
  <img class="reviewed-burger" src="{{image}}" alt="Burger Image">
  {{/if}}
  <p>{{review_content}}</p>
</section>