<section class="restaurant">
  <h1>{{restaurant.restaurant_name}}</h1>
  <p class="average-rating">Average Rating: {{convertToStars restaurant.rating}}</p>
  <p class="average-cost">Average Price: ${{restaurant.avgCost}}</p>
  <h3>Reviews:</h3>
  {{#each restaurant.reviews}}
  <a href="/user/{{id}}">
    <p>{{user.username}}</p>
    <p>{{format_date createdAt}}</p>
    <p>{{review_content}}</p>
    <p>Rating: {{convertToStars rating}}</p>
    {{/each}}
    <h3>Burgers:</h3>
    {{#each restaurant.burgers}}
    <p>{{burger_name}}</p>
    <p>${{total_cost}}</p>
    {{#if image}}
    <img class="reviewed-burger" src="{{image}}" alt="Burger Image">
    {{/if}}
    {{/each}}
</section>